.Phonetics{
    border:1px solid black;
    border-radius: 4px;
    margin-top:15px;
    margin-bottom: 15px;
    padding:10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
    background-color:#f7ede6;
}

.phoneticSpelling{
    font-size:16pt;
    margin:10px;
    margin-bottom:10px;
}

.pronunciationButton{
    text-decoration: none;
    font-size:10pt;
    margin:7px;
    border: 1px solid black;
    padding: 3px 6px 3px 6px; 
    border-radius:20px; 
    color:black;
}

.pronunciationButton:hover{
    color:blue;
}