.Photos{
    border:1px solid black;
    border-radius: 4px;
    margin-top:15px;
    margin-bottom: 15px;
    padding:10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);}

img{
    border-radius:4px;
    margin: 6px;
    
}